

/* new tweeter box (with pretty styling) */
.new-tweeter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: -10px;
  width: 100%;
}

.new-tweeter form {
  width: 100%;

}

/* tweet line */
#tweeter-text {
  width: 100%;
  align-items: center;
  border: none;
  border-bottom: 4px solid black;
  background-color: transparent;
  resize: none
}


/* tweet button and counter seperation */
.new-tweeter1-and-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: 'Bungee', cursive;
}

/* tweet button */
.tweeter-button {
  border: none;
  background-color: #1943cf;
  color: #fff;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
}

.tweeter-button:hover {
  box-shadow: 6px 6px 6px #5671ca;
  cursor: pointer;
}

/* error text styling */
.errorText {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: red;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

.redText {
  color: red;
}



